.banner {
    height: 80vh;
    grid-template-columns: auto 1fr auto;
    background-image: url("../../../../assets/Banner-BG.webp");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    box-sizing: border-box;
    clip-path: polygon(0 0, 100% 0, 100% 100%, 0 calc(100% - 50px));
    
    .container {
        display: flex;
        height: 100%;
        background-color: rgba(0, 0, 0, .7);
        align-items: center;
        justify-content: center;
        text-align: center;
        flex-direction: column;
        padding: 0 12px;
        clip-path: polygon(0 0, 100% 0, 100% 100%, 0 calc(100% - 50px));

        h1 { margin: 0; }
        p { margin: 5px 0 15px; }

        a {
            color: white;
            text-decoration: none;
            padding: 8px;
            border: 2px solid white;
            border-radius: 15px;
            transition: .4s;

            &:hover {
                background-color: white;
                color: black;
            }
        }
    }
}