@use "../../../../styles/mixins";

.services {
    @include mixins.defaultBox();

    h2 {
        font-size: 32px;
        text-align: center;
    }

    ul {
        display: flex;
        align-items: center;
        justify-content: center;
        font-size: 16px;
        flex-basis: 25%;
        flex-wrap: wrap;
        gap: 15px;
        padding: 0;
        list-style-type: none;
    
        li {
            display: flex;
            background-color: var(--secondaryColor);
            align-items: center;
            justify-content: center;
            flex-grow: 1;
            gap: 5px;
            padding: 12px;
            border-radius: 8px;

            img { width: 18px; }
            h3 { margin: 0; }
        }
    }
}