.header {
    position: relative;
    display: grid;
    grid-template-columns: 1fr auto;
    align-items: center;
    justify-content: center;
    column-gap: 25px;
    padding: 20px 25px;
    border-bottom: 3px solid var(--primaryColor);

    img {
        width: 100%;
        max-width: 350px;
    }
    
    .menuMobile {
        display: none;
        justify-self: end;
        font-size: 48px;
    }

    .menuMobileInput { display: none; }

    .linksList {
        display: flex;
        justify-self: end;
        margin: 0;
        gap: 15px;
        list-style-type: none;
        transition: .3s;
        
        li a {
            color: white;
            font-size: 18px;
            text-decoration: none;
            transition: .3s;

            &:hover { color: var(--primaryColor); }
        }

        @media screen and (max-width: 1150px) {
            position: absolute;
            display: none;
            background-color: var(--primaryColor);
            top: 100%;
            right: 0;
            padding: 20px;
            text-align: end;
            flex-direction: column;
        }
    }

    @media screen and (max-width: 1150px) {
        .menuMobile { display: flex; }

        .menuMobileInput:checked ~ .linksList {
            display: flex;
        }
    }
}